h1 {
    margin-top: 40px;
    text-align: center;
}

.card {
    margin-top: 40px;
    width: 50%;
    margin: 0 auto;
}

mat-form-field {
    width: 100%;
}

@media screen and (max-width: 950px){
    .card {
        width: 80%;
    }
}

@media screen and (max-width: 500px){
    .card {
        width: 90%;
    }
}