h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container {
    flex-basis: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.panel {
    width: 80%;
}

.layout-btn {
    position: absolute;
    top: 7px;
    right: 7px;
}

mat-card {
    width: 40%;
    height: auto;
    margin: 10px;
}

.button-container {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999999;
}

.delete-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

@media screen and (max-width: 950px){
    mat-card {
        width: 80%;
    }
}

@media screen and (max-width: 500px){
    mat-card {
        width: 90%;
    }
}