<app-navbar></app-navbar>

<button mat-raised-button color="accent" (click)="changeLayout()" class="layout-btn">Change layout</button>

<h1 *ngIf="title">{{title}}</h1>

<div class="container" *ngIf="products">
    <mat-card *ngFor="let product of products; let i = index" [ngClass]="{'panel': changeToPanel === true}">
        <mat-card-title role="listitem">Title: {{ product.data.title }}</mat-card-title>
        <mat-card-subtitle role="listitem">Category: {{ product.data.category }}</mat-card-subtitle>
        <mat-card-content>
            <p role="listitem">Description: {{ product.data.description }}</p>
            <p role="listitem">Price: {{ product.data.price }}</p>
            <p role="listitem">Employee: {{ product.data.employee }}</p>
            <p *ngIf="product.data.reviews?.length">
                <button mat-stroked-button color="accent" (click)="toggleReviews(i)">{{visibleIndex === i ? 'Hide
                    Reviews' :
                    'Show Reviews'}}</button>
            </p>
            <div class="reviews" *ngIf="visibleIndex === i">
                <div *ngFor="let review of product.data.reviews">
                    <p role="listitem">{{ review }}</p>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-fab color="accent" (click)="deleteProduct(product.id)" class="delete-btn"
                aria-label="delete product">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>

<div class="container" *ngIf="!products">
    <h1>No products, sorry :(</h1>
</div>