<h1>{{title}}</h1>

<mat-grid-list cols="3" rowHeight="1:1" gutterSize="40px" *ngIf="products" [cols]="breakpoint"
    (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let product of products">
        <mat-list role="list">
            <mat-list-item role="listitem">{{ product.data.title }}</mat-list-item>
            <mat-list-item role="listitem"> {{ product.data.description }}</mat-list-item>
            <mat-list-item role="listitem">{{ product.data.price }}</mat-list-item>
            <mat-list-item role="listitem">{{ product.data.category }}</mat-list-item>
            <mat-list-item role="listitem">{{ product.data.employee }}</mat-list-item>
        </mat-list>
    </mat-grid-tile>
</mat-grid-list>