<h1>{{title}}</h1>

<mat-grid-list cols="3" rowHeight="1:1.5" gutterSize="40px" *ngIf="products" [cols]="breakpoint"
    (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let product of products; let i = index">
        <mat-card>
            <mat-list role="list">
                <mat-list-item role="listitem">Title: {{ product.data.title }}</mat-list-item>
                <mat-list-item role="listitem">Description: {{ product.data.description }}</mat-list-item>
                <mat-list-item role="listitem">Price: {{ product.data.price }}</mat-list-item>
                <mat-list-item role="listitem">Category: {{ product.data.category }}</mat-list-item>
                <mat-list-item role="listitem">Employee: {{ product.data.employee }}</mat-list-item>
                <mat-list-item>
                    <button (click)="toggleReviews(i)">{{visibleIndex === i ? 'Hide Reviews' : 'Show Reviews'}}</button>
                </mat-list-item>
                <div class="reviews" *ngIf="visibleIndex === i">
                    <div *ngFor="let review of product.data.reviews">
                        <mat-list-item role="listitem">{{ review }}</mat-list-item>
                    </div>
                </div>
            </mat-list>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<div class="button-container">
    <button mat-fab color="accent" routerLink="/add" matTooltip="Add new product" aria-label="Add new product">
        <mat-icon>add_circle_outline</mat-icon>
    </button>
</div>